.inp-search {
    position: relative;
}

.inp-search i {
    position: absolute;
    left: 15px;
    top: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 40px;
    margin: 7px 0;
    display: inline-block;
}

.card {
    width: 250px;
}

.img-width {
    width: 30px;
}

.card-footer {
    position: relative;
}

.card-footer i {
    color: gray;
    position: absolute;
    left: 220px;
    top: 17px;
}

.p-footer-content{
    margin-left: 125px;
}

.p-footer-menu{
    margin-left: 400px;
}

.a-footer-menu{
    margin-left: 20px;
}
/* Adjustments for small screens */
@media (max-width: 400px) {
    .container-jumbotron {
      padding: 0;
    }
    .navbar-expand-sm .navbar-nav .nav-item {
      display: block;
    }
    .inp-search {
      margin-bottom: 10px;
    }
    .carousel-item .row {
      flex-direction: column;
    }
    .carousel-item .row .col-sm-6,
    .carousel-item .row .col-sm-6 img {
      width: 100%;
    }
  }
  
  /* Adjustments for medium screens */
  @media (min-width: 400px) and (max-width: 900px) {
    .carousel-item .row .col-sm-6,
    .carousel-item .row .col-sm-6 img {
      width: 50%;
    }
  }
  
  /* Adjustments for large screens */
  @media (min-width: 900px) {
    .container-jumbotron {
      max-width: 1600px;
    }
    .navbar-expand-sm .navbar-nav .nav-item {
      display: inline-block;
    }
    .carousel-item .row .col-sm-6,
    .carousel-item .row .col-sm-6 img {
      width: 50%;
    }
  }